.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  }
  
  * {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  
  .title {
  color: tomato;
  line-height: 4rem;
  }
  
  .dark {
    background: gray;
  .title {
    color: white;  
  }
  input,
  .list-item{
    background:#eee;
  }
  

  }
  
  